.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #BE3144;
    font-family: sans-serif;
}
.navbar-content {
    padding: 0.7cm;
    color: white;
    font-weight: bold;
    font-size:small;
}
a:hover {
    background-color: #45567d;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}